node_modules
zendron_cache
outputs
.dendron.cache.json
.dendron.port
.dendron.port.cli
.dendron.ws
package-lock.json
.next
conf/default.yaml
conf/config.yaml
README.md
.hydra
.hydra/*
notes/assets/videos/screencast
notes/assets/videos/gif/zendron-test.gif
.env
dist/*
*.egg-info
zendron/__pycache__/*
*.log
zotero_pod/*