# MANIFEST.in
include src/zendron/conf/zendron/config_template.yaml
include src/zendron/conf/zendron/default_template.yaml
include src/zendron/pods/dendron.markdown/config.import.yml
include src/../notes/assets/images/zotero.api-key.md.zotero-api-key.png