# MANIFEST.in
include zendron/conf/zendron/config_template.yaml
include zendron/conf/zendron/default_template.yaml
include zendron/pods/dendron.markdown/config.import.yml
include ../notes/assets/images/zotero.api-key.md.zotero-api-key.png